

/*@import url('dev.css');*/
@import url('tables.css');
@import url('text.css');
@import url('opendir_iframe.css');
@import url('updates_iframe.css');

body{
    background-color:black;
    color:white;
    font-family: monospace;
}
img.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.song_scroll{
	border-right: 2px solid white;
	border-left:  2px solid white;
}
