iframe.opendir_updates_iframe{
    position:absolute;
    border: 2px solid;
    border-color: #4177cc;
    height: 52px;
    width: 850px;
    -webkit-transition: 0.2s cubic-bezier(0,0,0.02,1);
    transition: 0.2s cubic-bezier(0,0,0.02,1);
}
iframe.opendir_updates_iframe:hover{
    position:absolute;
    border-color:#c24fab;
    height: 252px;
    width: 850px;
    -webkit-transition: 0.3s cubic-bezier(0,0,0.02,1);
    transition: 0.3s cubic-bezier(0,0,0.02,1);
}