iframe.homepage_updates_iframe {
    position: absolute;
    border: 2px solid;
    border-color: #80108f;
    height: 52px;
    width: 640px;
    -webkit-transition: 0.2s cubic-bezier(0,0,0.02,1);
    transition: 0.2s cubic-bezier(0,0,0.02,1);
    overflow-x: hidden;
    overflow-y: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

iframe.homepage_updates_iframe::-webkit-scrollbar {
  display: none;
}

iframe.homepage_updates_iframe:hover {
    position: absolute;
    margin-top: -26px;
    border-color: #498f17;
    height: 180px;
    width: 640px;
    -webkit-transition: 0.3s cubic-bezier(0,0,0.02,1);
    transition: 0.3s cubic-bezier(0,0,0.02,1);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}
